// --------------------------------------------
// ### General
// --------------------------------------------

html, body {
  height: 100%;
}

// --------------------------------------------
// ### Floats
// --------------------------------------------

%float--left {
  float: left;
  margin: 0 $gutter*2 $gutter*2 0;
}

%float--right {
  float: right;
  margin: 0 0 $gutter*2 $gutter*2;
}

// --------------------------------------------
// ### Clearfix
// --------------------------------------------

%group {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
