// --------------------------------------------
// ### General
// --------------------------------------------

.l--bodyLayout {
  @extend %flexboxGrid--RtoC;
  flex-align: flex-start;
}

.l--sideBar {
  @extend %flexboxGrid__cell;
  flex: 0 0 auto;
  order: 1;
}

.l--content {
  @extend %flexboxGrid__cell;
  @extend %flexboxGrid;
  min-height: 100vh;
  flex-direction: column;
  flex: 3 1 auto;
  order: 2;
  overflow: auto;

  @media screen and (max-width: 700px) {
    overflow: visible;
  }
}

.l--footer {
  @extend %flexboxGrid__cell;
  flex: 0 0 auto;
  align-self: flex-end;
}

.wrapper {
  padding: $gutter*2;
  margin: 0 auto;
}

#main {
  @extend %flexboxGrid__cell;
}

%l--third {
  width: 33.3%;
}

%l--half {
  width: 50%;
}

