// --------------------------------------------
// ### General
// --------------------------------------------

.l--bodyLayout {
  @extend %flexboxGrid;
  flex-direction: column;
  min-height: 100vh;
}

.l--sideBar {
  @extend %flexboxGrid__cell;
  flex: 0 0 auto;
  order: 1;
  overflow: hidden;

  @media screen and (max-width: 700px) {
    overflow: visible;
  }
}

.l--main {
  @extend %flexboxGrid__cell;
  @extend %flexboxGrid--RtoC;
  flex: 1 0 auto;
}

.l--content {
  @extend %flexboxGrid__cell;
  order: 2;
}

.l--footer {
  @extend %flexboxGrid__cell;
  flex: 0 0 auto;
}

.wrapper {
  padding: $gutter*2;
  max-width: 43em;
  margin-left: 5%;

  @media screen and (max-width: 700px) {
    padding: $gutter;
    margin: 0;
  }
}

.wrapper--small {
  padding: $gutter;

  @media screen and (max-width: 700px) {
    padding: $gutter/2;
  }
}

#main {
  @extend %flexboxGrid__cell;
}

%l--third {
  width: 33.3%;
}

%l--half {
  width: 50%;
}

