.clip--speechBubble {
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 15% 65%, 0% 73%, 0% 75%, 0% 75%);
  width: 100%;
  margin-bottom: -40%;

  img & {
    width: 100%;
  }
}

.module {
  border: 1px solid $gray;
}

.moduleKey {
  @extend .module;
}

.l--third {
  width: 40%;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.moduleBio {
  @extend .module;
  @extend .l--third;
  @extend %float--left;
  min-width: 300px;

  @media screen and (max-width: 1000px) {
    float: none;
  }
}

.moduleBio__text {
  padding: 1em;

  header {
    margin-bottom: .5em;
  }
}

.moduleBio__heading {
  @extend .scale--3;
}

.moduleBio__subhead {
  @extend .scale--6;
  color: darken($gray, 25%);
}

.moduleBio__paragraph {
  font-size: .833em;
}
