a {
  @include defaultTransition;
  text-decoration: none;
  color: $blue--light;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;

    .sideBar & {
      text-decoration: none;
      color: lighten($blue--light, 40%);
    }
  }

  .sideBar & {
    color: $white;
  }
}
