a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:focus {
    @include defaultTransition;
    color: $blue;
  }
}

.currentPage {
  font-weight: map-get($fontWeight, bold);
}
