a {
  @include defaultTransition;
  text-decoration: none;
  color: map-get($link, default);

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;

    .sideBar & {
      text-decoration: none;
      color: map-get($sidebar, hover);
    }
  }

  .sideBar & {
    color: map-get($sidebar, color);
    transition: none;
  }

  .sideNav__heading & {
    color: map-get($link, sideNav__heading);
  }
}
