.logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: $gutter;

  @media screen and (max-width: 700px) {
    width: 113px;
    height: 100px;
  }
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
