.logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 133px;
  margin: 0 auto;
  margin-bottom: $gutter;
  text-align: center;

  @media screen and (max-width: 700px) {
    width: 113px;
    height: 100px;
  }

  @media screen and (max-width: 500px) {
    width: 85px;
    height: 75px;
  }

  @media screen and (max-width: 400px) {
    height: 20px;
    width: 100%;
    background-image: none;
  }
}

.visuallyHidden {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  @media screen and (max-width: 400px) {
    position: static;
    height: auto;
    width: 100%;
  }
}
