// --------------------------------------------
// ### Headings
// --------------------------------------------

$sizes:
    scale--1 2.074em    $serif        map-get($fontWeight, bold)   false
  , scale--2 1.44em     $sansSerif    map-get($fontWeight, bold)   false
  , scale--3 1.2em      $serif        map-get($fontWeight, bold)   false
  , scale--4 1em        $serif        map-get($fontWeight, light)  false
  , scale--5 1em        $sansSerif    map-get($fontWeight, light)  false
  , scale--6 0.833em    $sansSerif    map-get($fontWeight, bold)   true;

@each $scale in $sizes {
  .#{nth($scale, 1)} {
    font-size: #{nth($scale, 2)};
    font-family: #{nth($scale, 3)};
    font-weight: #{nth($scale, 5)};

    @if nth($scale, 5) {
      text-transform: uppercase;
    }
  }
}

.scale--6 {
  letter-spacing: 1px;
}
