// --------------------------------------------
// ### Side Navigation
// --------------------------------------------

.sideBar {
  @extend %flexboxGrid;
  flex-direction: column;
  align-items: center;
  background-color: $blue--dark;
  padding: $gutter*2;

  @media screen and (max-width: 700px) {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  a {
    color: $white;
  }
}

.sideNav {
  @extend %flexboxGrid__cell;
  flex: 2 1 auto;
  width: 100%;
}

.sideNav__list {
  @extend %flexboxGrid;
  flex-direction: column;
  margin-bottom: 1em;
  position: static;

  @media (max-width: 700px) {
    position: absolute;
    left: -99999em;
  }
}

.sideNav__link {
  &.currentPage {
    font-weight: map-get($fontWeight, bold);
    color: $yellow;

    &:after {
      content: '\2192';
      margin-left: .5em;

      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}

.sideNav__item {
  flex: 1;
  font-family: $sansSerif;
  font-weight: map-get($fontWeight, light);
  margin-bottom: .5em;
}

.sideNav__heading {
  @extend .scale--3;
  font-weight: map-get($fontWeight, bold);
  margin-bottom: .5em;
}

.sideNav__mobileButton {
  @extend .scale--2;
  font-weight: map-get($fontWeight, bold);
  position: absolute;
  left: -99999em;
  text-align: center;
  color: $white;
  margin: $gutter/2 auto;
  text-transform: uppercase;

  a {
    color: $white;
  }

  @media (max-width: 700px) {
    position: static;
  }
}

.open {

  .sideNav__heading,
  .sideNav__item {
    margin: 0;
    padding: .694em 0;
  }

  .sideNav__heading {
    background-color: darken($gray, 60%);
  }

  .sideNav__list {
    left: 0;
    width: 100%;
    position: static;
    margin: 0;
    text-align: center;

    .sideNav__item {
      background-color: darken($gray, 50%);
      border-bottom: 1px solid $blue--dark;

      &:last-of-type {
        border: 0;
      }
    }
  }
}

.masthead {
  @extend %flexboxGrid__cell;
  flex: 0 0 auto;
}

.masthead__subhead {
  @extend .scale--6;
  color: $white;
  opacity: .8;
  text-align: center;
}

.break {
  border: 0;
  border-bottom: 1px solid;
  width: 10%;
  margin: $gutter auto;

  .sidebar & {
    border-color: $white;
    opacity: .3;
  }

  article & {
    border-color: $blue;
  }
}

.footerMain {
  background-color: $gray;
  width: 100%;
  text-align: center;
}

.footerMain__paragraph {
  @extend .scale--6;
  text-transform: none;
  color: lighten($gray--dark, 20%);
  line-height: 1.8;
  letter-spacing: 0;
  font-size: 80%;
}

.greetings {
  @extend %flexboxGrid__cell;
  flex: 0 0 auto;

  @media (max-width: 700px) {
    display: none;
  }
}

.greetings__text {
  @extend .scale--6;
  color: $white;
  text-transform: none;
  font-weight: map-get($fontWeight, light);
}

.greetings__image {
  max-width: 100px;
  margin: $gutter/2 auto;

  img {
    width: 100%;
  }
}
