// --------------------------------------------
// ### Colors
// --------------------------------------------

$trueWhite: hsla(0, 100%, 100%, 1);
$white: hsla(0, 0%, 98%, 1);

$gray: hsla(200, 12%, 90%, 1);
$gray--dark: hsla(0, 0%, 33%, 1);
$black: hsla(0, 0%, 20%, 1);

$blue: hsla(200, 16%, 26%, 1);
$blue--dark: hsla(208, 21%, 14%, 1);
$blue--light: hsla(198, 80%, 41%, 1);

$yellow: hsla(51, 86%, 45%, 1);
$red: hsla(4, 36%, 51%, 1);
$green: hsla(141, 42%, 53%, 1);
$orange: hsla(33, 65%, 49%, 1);
$turquoise: hsla(176, 27%, 49%, 1);

// --------------------------------------------
// ### Fonts
// --------------------------------------------

$sansSerif: "open-sans", Helvetica, sans-serif;
$serif: "ff-tisa-web-pro", serif;

$fontWeight: (
  bold: 700,
  light: 300
);

// --------------------------------------------
// ### Transitions
// --------------------------------------------

@mixin defaultTransition {
  transition: all .2s ease-in-out;
}

// --------------------------------------------
// ### Gutters
// --------------------------------------------

$gutter: 1.2em;

// --------------------------------------------
// ### Sizes
// --------------------------------------------

$borderWidth: (
  thin: 1px,
);

// --------------------------------------------
// ### Z-Index
// --------------------------------------------
