// --------------------------------------------
// ### General
// --------------------------------------------

$body: (
  color: $blue--dark,
  fontFamily: $serif,
  fontWeight: map-get($fontWeight, light),
  fontSize: 18px,
  bg: $white
);

$selection: (
  bg: transparentize($yellow, .3),
  color: $white
);
