// --------------------------------------------
// ### Main Navigation
// --------------------------------------------

$sideNav: (
  color: $white,
  bg: $blue--dark,
  hover: lighten(blue, 40%)
);

// --------------------------------------------
// ### Articles
// --------------------------------------------
