---
title: Alejandra Luaces | Who is Alejandra?
---

%h1 Who is Alejandra?

.module--bio
  .module--bio__masthead meet and greet!
  <img src="/images/me.jpg" class="clip--speechBubble">
  .module--bio__text
    %header
      %h4.module--bio__heading Alejandra Luaces
      %h5.module--bio__subhead Product Designer
    %p.module--bio__paragraph Alejandra Luaces discovered that zookeeping required her to be outdoors too often, so she decided to make the switch to software development.

%p First things first: introductions! I'm Alejandra, and it's so nice to meet you.

%p I started off as a wildlife biologist. Now I'm a product designer! What a switch.

%p I have an insatiable hunger for knowledge, which I attempt to satiate by having lots of hobbies with a steep learning curve. I love to delve into a project; practicing and experimenting and iterating until I know I can execute it perfectly. When I was learning how to make croissants, my friends became sick of eating them. But now I can make them perfectly.

%p My aptitude for childlike curiosity really lends well to this field&#8212;I have an "amateur's mindset" and strive to learn something new every day. This motivation to learn and exchange knowledge has persisted throughout my career, now manifesting itself in mentoring through Girl Develop It. I even helped start an apprenticeship program at my current job, Eight Bit Studios.

%p My passion for learning is why I'm applying to be a Designer at The Iron Yard!

.module--key--intro
  %header
    .module--key__masthead key point
  .module--key__paragraph The first website I built was around a text-based horse game, before CSS even existed!
