---
title: Alejandra Luaces | The Iron Yard application
---

%h1 Who is Alejandra?

.module--bio
  <img src="/images/me.jpg" class="clip--speechBubble">
  .module--bio__text
    %header
      %h4.module--bio__heading Alejandra Luaces
      %h5.module--bio__subhead Product Designer
    %p.moduleBio__paragraph Alejandra Luaces discovered that zookeeping required her to be outdoors too often, so she decided to make the switch to software development.

%p I am a wildlife biologist turned product designer. At my core, I have an insatiable hunger for knowledge, which I attempt to satiate by having lots of hobbies with a steep learning curve: espresso making, sous vide cooking, sewing, calligraphy, yoga.

%p When I was in school, I recognized there was a disconnect between the way I was learning materials. I had straight A's in my zookeeping lab courses, but failed every math class I took. There was a definite pattern here!

%p Since then, I have made it my mission to learn how to learn. I’ve also read that teaching is a great way to learn better and retain knowledge, so I stay involved in my community through Girl Develop It, and spearheading an apprenticeship program. This passion has led me to apply to be a Designer at The Iron Yard.

.module--key
  %header
    .module--key__heading did you know?
  .module--key__paragraph Alejandra is totally self-taught. She started writing HTML when she was 10, before CSS even existed!
