---
title: Alejandra Luaces | The Iron Yard application
---

%h1 Who is Alejandra?

.module--bio
  <img src="/images/me.jpg" class="clip--speechBubble">
  .module--bio__text
    %header
      %h4.module--bio__heading Alejandra Luaces
      %h5.module--bio__subhead Product Designer
    %p.moduleBio__paragraph Alejandra Luaces discovered that zookeeping required her to be outdoors too often, so she decided to make the switch to software development.


%p I am a wildlife biologist turned product designer. At my core, I have an insatiable hunger for knowledge, which I attempt to satiate by having lots of hobbies with a steep learning curve: espresso making, sous vide cooking, sewing, calligraphy, yoga.

%p I’ve also read that teaching is a great way to learn better and retain knowledge, so I stay involved in my community through Girl Develop It, and spearheading an apprenticeship program. This passion has led me to apply to be a Designer at The Iron Yard.
