---
title: Alejandra Luaces | The Iron Yard application
---

%h1 Who is Alejandra?

.module--bio
  .module--bio__masthead meet and greet!
  <img src="/images/me.jpg" class="clip--speechBubble">
  .module--bio__text
    %header
      %h4.module--bio__heading Alejandra Luaces
      %h5.module--bio__subhead Product Designer
    %p.module--bio__paragraph Alejandra Luaces discovered that zookeeping required her to be outdoors too often, so she decided to make the switch to software development.

%p I went to school for wildlife biology. Now I am a product designer.

%p I have an insatiable hunger for knowledge, which I attempt to satiate by having lots of hobbies with a steep learning curve.

%p My aptitude for childlike curiosity really lends well to this field&#8212;I have an "amateur's mindset" and strive to learn something new every day. This motivation to learn and exchange knowledge has persisted throughout my career, now manifesting itself in mentoring through Girl Develop It. I even helped start an apprenticeship program at my current job, Eight Bit Studios.

%p My passion for learning is why I'm applying to be a Designer at The Iron Yard!

.module--key--intro
  %header
    .module--key__masthead key point
  .module--key__paragraph The first website I built was around a text-based horse game, before CSS even existed!
