---
title: Alejandra Luaces | The Iron Yard application
---

%h1 Who is Alejandra?

.module--bio
  <img src="/images/me.jpg" class="clip--speechBubble">
  .module--bio__text
    %header
      %h4.module--bio__heading Alejandra Luaces
      %h5.module--bio__subhead Product Designer
    %p.moduleBio__paragraph Alejandra Luaces discovered that zookeeping required her to be outdoors too often, so she decided to make the switch to software development.

%p I am a wildlife biologist turned product designer. At my core, I have an insatiable hunger for knowledge, which I attempt to satiate by having lots of hobbies with a steep learning curve: espresso making, sous vide cooking, sewing, calligraphy, yoga. When I was in middle school, I taught myself web design and front-end development.

%p My aptitude for childlike curiosity really lends well to this field&#8212;I have an 'amateur's mindset' and strive to learn something new every day. The learning never stops.

%p I failed remedial algebra three times in college. It's embarrassing to admit, but this is what got me thinking about how humans learn.

%p This passion for learning has persisted throughout my career, now manifesting itself in mentoring through Girl Develop It. I even helped start an apprenticeship program at work.

%p This passion has led me to apply to be a Designer at The Iron Yard.

.module--key
  %header
    .module--key__heading did you know?
  .module--key__paragraph Alejandra is totally self-taught. She started writing HTML when she was 10, before CSS even existed!
