// --------------------------------------------
// ### WSYWIG Styles for MD
// --------------------------------------------

article {
  position: relative;

  h1 {
    @extend .scale--1;
    margin-bottom: .579em;
  }

  h2 {
    @extend .scale--2;
    margin: .5em 0;
  }

  h3 {
    @extend .scale--3;
  }

  h4 {
    @extend .scale--4;
  }

  h5 {
    @extend .scale--5;
  }

  p {
    @extend .scale--4;
    line-height: 1.6;
    margin-bottom: 1em;
  }

  blockquote {
    @extend .scale--4;
    font-size: 1.25em;
    margin-left: 1em;
    font-style: italic;
  }

  figure {
    margin: $gutter*2 auto;
  }

  figcaption {
    @extend .scale--4;
    font-size: .833em;
    color: darken($gray, 30%);
    font-style: italic;
  }

  img {
    width: 100%;
  }
}

.figure--left {
  @extend %float--left;
  max-width: 250px;
}
