// --------------------------------------------
// ### Extends
// --------------------------------------------

%module {
  border: 1px solid $gray;
}

%module__text {
  padding: 1em;

  header {
    margin-bottom: .5em;
  }
}

%module__heading {
  @extend .scale--3;
}

%module__subhead {
  @extend .scale--6;
  color: darken($gray, 25%);
}

%module__paragraph {
  font-size: .833em;
}

// --------------------------------------------
// ### Key Info
// --------------------------------------------

.module--key {
  @extend %module;
  margin: $gutter auto;
}

.module--key--intro {
  @extend .module--key;
  width: 70%;
  margin: $gutter 0;

  @media screen and (max-width: 1000px) {
    float: none;
    margin: $gutter auto;
  }
}

.module--key__heading {
  @extend .scale--6;
  padding: $gutter/2;
  background-color: $gray;

  &:before {
    content: '\261E';
    margin-right: $gutter/2;
  }
}

.module--key__paragraph {
  @extend %module__paragraph;
  margin: $gutter/2;
}

// --------------------------------------------
// ### Bio
// --------------------------------------------

.module--bio {
  @extend %module;
  @extend %l--third;
  @extend %float--right;
  margin-right: -10em;
  max-width: 25em;
  min-width: 18.75em;

  @media screen and (max-width: 1000px) {
    float: none;
    width: 100%;
  }
}

.module--bio__text {
  @extend %module__text;
}

.module--bio__heading {
  @extend %module__heading;
  font-size: 1.75em;
}

.module--bio__subhead {
  @extend %module__subhead;
}

.module--bio__paragraph {
  @extend %module__paragraph;
  font-size: .8em;
}
